@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);

* {
  box-sizing: border-box;
}

#cards-body {
  background: #fbfbfb;
  font-family: "Raleway";
}


.container-cards {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  padding: 0 20px; 
}

.product-card {
  width: 250px;
  /* margin: 5px;  */
  border: 1px solid #e5e5e5;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.card-image {
  position: relative;
  height: 300px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #0056b3;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
  text-transform: uppercase;
}

.card-info {
  padding: 15px;
  text-align: center;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-price {
  font-size: 16px;
  color: #d9534f;
  margin-bottom: 5px;
}

.product-colors {
  font-size: 14px;
  color: #6c757d;
}

.product-card .card-info button {
  outline: 0;
  border: 0;
  background: none;
  border: 1px solid #d9d9d9;
  padding: 6px 2px; 
  margin-bottom: 20px; 
  color: #515151;
  text-transform: uppercase;
  width: 100px; 
  font-family: inherit;
  margin-right: 3px;
  transition: all 0.3s ease;
  font-weight: 500;
  font-size: 13px;
}

.product-card .card-info button:hover {
  border: 1px solid #aedaa6;
  color: #aedaa6;
  cursor: pointer;
}

.product-card .card-info a {
  outline: 0;
  border: 0;
  background: none;
  color: #515151;
  text-transform: uppercase;
  width: 100px; 
  font-family: inherit;
  margin-right: 5px;
  transition: all 0.3s ease;
  font-weight: 500;
  text-decoration: none;
  font-size: 13px;
}

.product-card .card-image a:hover {
  color: #aedaa6;
  cursor: pointer;
}

.categ-li {
  gap: 30px;
  list-style: none;
  text-decoration: none;
  color: black;
}

.categ-li a {
  color: rgba(0, 0, 0, 0.351);
  text-decoration: none;
  text-transform: uppercase;
}


.categ-li a:hover {
  color: #515151;
  outline: 0;
  border: 0;
  background: none;
  border: 1px solid #504f4f;
  border-radius: 0;
  padding: 8px 4px;
  margin-bottom: 30px;
  text-transform: uppercase;
  width: 125px;
  font-family: inherit;
  font-weight: 500;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center; 
  margin-bottom: 20px;
  width: 100%;
  padding-left: 20px;
}

.search-container input[type="search"] {

  width: 150px; 
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 0;
}

.search-container button {
  /* padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;  */
  outline: 0;
  border: 0;
  background: none;
  border: 1px solid #d9d9d9;
  padding: 6px 0px; 
  margin-bottom: 20px; 
  color: #515151;
  text-transform: uppercase;
  width: 100px; 
  font-family: inherit;
  margin-right: 5px;
  transition: all 0.3s ease;
  font-weight: 500;
}
.search-container button:hover { 
border: 1px solid #aedaa6;
color: #aedaa6;
cursor: pointer;
}


