        :root {
            --dark-olive-green: #5F6F52;
            --laurel-green: #A9B388;
            --cornsilk: #FEFAE0;
            --lemon-meringue: #F9EBC7;
            --camel: #B99470;
            --russet: #783D19;
            --highlight-green: var(--dark-olive-green);
        }

        body {
            background-color: var(--cornsilk);
            color: var(--dark-olive-green);
            font-family: Arial, sans-serif;
        }

        .shadow-lg {
            background-color: var(--lemon-meringue);
            border: 1px solid var(--camel);
        }

        .shadow-lg:hover {
            background-color: var(--laurel-green);
        }

        dt, dd {
            color: var(--russet);
        }

        .btn-outline-secondary {
            border-color: var(--dark-olive-green);
            color: var(--dark-olive-green);
        }

        .btn-outline-secondary:hover {
            background-color: var(--dark-olive-green);
            color: var(--cornsilk);
        }

        a {
            text-decoration: none;
        }

        hr {
            border-top: 1px solid var(--dark-olive-green);
        }

        .navbar, .footer {
            background-color: var(--dark-olive-green);
            color: var(--cornsilk);
        }

        .footer {
            padding: 20px;
            text-align: center;
        }

        .footer a {
            color: var(--lemon-meringue);
        }

        .footer a:hover {
            color: var(--laurel-green);
        }

        .d-flex {
            display: flex;
            flex-direction: row;
        }

        .justify-content-start, .justify-content-center {
            justify-content: flex-start;
            justify-content: center
        }
