
/* Colors for Page */
:root {
    --green: #CCD5AE; 
    --greenlight: #E9EDC9;
    --lightbeige: #FEFAE0;
    --beige: #FAEDCD;
    --brown: #D4A373;
  }
  body {
    /* background: var(--beige); */
  }
  /* Fonts */

/* Navbar */

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.flex-auto {
  flex: 0 0 auto;
}

/* Hero */
.pic1 {
  background-image: url('../images/building.jpg');
object-position: center;
object-fit: contain;


}
.pic2 {
  background-image: url('../images/building.jpg');
object-position: center;
object-fit: contain;


}.pic3 {
  background-image: url('../images/building.jpg');
object-position: center;
object-fit: contain;


}
/* Footer */
footer {
  background-color: var(--beige);
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1920px;
  padding: 40px 0 0;
  width: 100%;
}

.container-fluid {
  padding: 0;
}

.min-vh-100 {
  min-height: 100vh;
}

.mt-auto {
  margin-top: auto;
}

footer .container {
  max-width: 1920px;
  margin: 0 auto;
}